        body {
            background: url(Forest.gif);
            background-size: 1700px;
            background-attachment: fixed;
            font: 300 100% 'Helvetica Neue', Helvetica, Arial, white;
        }

        .main {
            position: absolute;
            margin: 10px;
            margin-left: 5%;
            padding: 15px;
            text-align: center;
            background-color: black;
            opacity: 0.5;
            width: 100px;
            border: 5px tomato solid;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: white;
        }
